body, html {
  margin: 0;
  padding: 0;
}
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  flex-direction: column;
  button {
    margin-top: 48px;
    padding: 12px 24px;
    border: 0;
    background-color: #EAEAEA;
    cursor: pointer;
    &:hover {
      background-color: #FAFAFA;
    }
  }
  &__graph {
    width : 70vmax;
    height: 70vmin;
    position: relative;
    &--loader {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: #FFF;
      opacity: 0.3;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__loading {
    top: 0;
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    &--animation{

    }
    &--text {
      color: #FFFFFF;
      margin-top: 24px;
      font-family: Arial, sans-serif;
    }
  }
}

.lds-dual-ring {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #666;
  border-color: #666 transparent #666 transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
